<div class="slider">
  <div class="slide">
    <div class="slide-background">
      <img
        class="slide-background-image"
        src="https://images.tmdb.org/t/p/original/1Ds7xy7ILo8u2WWxdnkJth1jQVT.jpg"
        alt=""
        class=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">The Lost City</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span>
            <span class="rating-value"> 8.0 </span>
            <span>/10</span>
          </span>
          <span>100 Reviews</span>
          <span> 2022 </span>
        </div>
      </div>
      <div class="description mt-6">
        A reclusive romance novelist was sure nothing could be worse than
        getting stuck on a book tour with her cover model until a kidnapping
        attempt sweeps them both into a cutthroat jungle adventure, proving life
        can be so much stranger, and more romantic, than any of her paperback
        fictions.
      </div>
    </div>
  </div>
</div>
